background-color: #ebf2ff;
background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  background-position: right center; /* change the direction of the change here */
  https://github.com/pavankpdev/zomato-landing-page-B2
  https://zomato-landing-page-notes.vercel.app/
